<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>My Carpark Info<br />is here</h1>
            <h1><%= carpark.Development + '  (CP ' + carpark.CarParkID + ' )' %></h1>
            <p><%= carpark['Development'] %></p>
            <p>Carpark Prices $0.60 / 30min</p>
            <p><%= 'Available Lots: ' + carpark.AvailableLots %></p>
            <button type="button" class="btn btn-light">
                Upvote
            </button>
            <button type="button" class="btn btn-dark">
                Downvote
            </button>
        </div>
    </div>
</div>

<!-- <%- include('../partials/footer'); %> -->